## NaiveBase implementation using scikit learn

## Using preprocessed data

In [1]:
from sklearn.naive_bayes import MultinomialNB
import pandas as pd
import numpy as np

mail_data = pd.read_csv('spambase/spambase.data').as_matrix()
np.random.shuffle(mail_data)
x = mail_data[:, :48]
y = mail_data[:,-1]
x_train = x[:-100,]
y_train = y[:-100,]
x_test = x[-100:,]
y_test = y[-100:,]
model = MultinomialNB()
model.fit(x_train, y_train)
print "classification rate for NB", model.score(x_test, y_test)
print "About dataset", mail_data.shape
print "x", x.shape
print "y", y.shape
print x_train.shape
print y_train.shape
print x_test.shape
print y_test.shape

classification rate for NB 0.86
About dataset (4600, 58)
x (4600, 48)
y (4600,)
(4500, 48)
(4500,)
(100, 48)
(100,)

In [2]:
data = pd.read_csv('spambase/spambase.data')
data.head()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278,1
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1

In [3]:
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier()
model.fit(x_train,y_train)
print "classification rate for AdaBoost", model.score(x_test, y_test)

classification rate for AdaBoost 0.9

In [4]:
doc_a = "Brocolli is good to eat. My brother likes to eat good brocolli, but not my mother."
doc_b = "My mother spends a lot of time driving my brother around to baseball practice."
doc_c = "Some health experts suggest that driving may cause increased tension and blood pressure."
doc_d = "I often feel pressure to perform well at school, but my mother never seems to drive my brother to do better."
doc_e = "Health professionals say that brocolli is good for your health."

# compile sample documents into a list
doc_set = [doc_a, doc_b, doc_c, doc_d, doc_e]

----

## SMS Spam in Code

In [5]:
from __future__ import print_function, division
from future.utils import iteritems
from builtins import range
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from wordcloud import WordCloud

sms_data = pd.read_csv('/Users/aparajita/Downloads/spam.csv')

In [6]:
sms_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [7]:
new_sms_data = sms_data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis = 1).copy()
new_sms_data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
new_sms_data.columns
new_sms_data.columns = ['labels','data']
new_sms_data.head()

  labels                                               data
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
new_sms_data["binary_labels"] = new_sms_data['labels'].map({"ham":0, "spam":1})

In [10]:
new_sms_data["binary_labels"].value_counts()

0    4825
1     747
Name: binary_labels, dtype: int64

In [11]:
y = new_sms_data["binary_labels"].as_matrix()
y

array([0, 0, 1, ..., 0, 0, 0])

In [12]:
new_sms_data.head()

  labels                                               data  binary_labels
0    ham  Go until jurong point, crazy.. Available only ...              0
1    ham                      Ok lar... Joking wif u oni...              0
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...              1
3    ham  U dun say so early hor... U c already then say...              0
4    ham  Nah I don't think he goes to usf, he lives aro...              0

In [13]:
count_vectorizer = CountVectorizer(decode_error= 'ignore')
x = count_vectorizer.fit_transform(new_sms_data['data'])

In [44]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.70 )

In [45]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

(5572, 8637)
(3900, 8637)
(1672, 8637)

In [42]:
1838/(3734+1838)

0.3298636037329505

In [31]:
print(x_train.shape)
print(y_train.shape)

(1838, 8637)
(1838,)

In [22]:
?train_test_split

In [94]:
model_for_sms = MultinomialNB()
model_for_sms.fit(x_train,y_train)
print ("train score:",  model_for_sms.score(x_train,y_train))
print ("test score:",  model_for_sms.score(x_test,y_test))

train score: 0.9943589743589744
test score: 0.9814593301435407

In [77]:
from sklearn.metrics import classification_report

In [80]:
classification_report(y_test,x_scores)

'             precision    recall  f1-score   support\n\n          0       0.98      1.00      0.99      1430\n          1       0.98      0.91      0.94       242\n\navg / total       0.98      0.98      0.98      1672\n'

In [81]:
from sklearn.metrics import confusion_matrix

In [83]:
confusion_matrix(y_test,x_scores)

array([[1426,    4],
       [  22,  220]])

In [67]:
x_scores = list(model_for_sms.predict(x_test))

In [69]:
y_test =  list(y_test)

In [71]:
df = pd.DataFrame(x_scores,columns=["Predicted Labels"])

In [74]:
df.tail()

      Predicted Labels  Actual Labels
1667                 0              0
1668                 0              0
1669                 0              0
1670                 0              0
1671                 0              0

In [72]:
df["Actual Labels"] = y_test

In [16]:
abc = model_for_sms.score(x_test,y_test)

In [17]:
new_sms_data.head()

  labels                                               data  binary_labels
0    ham  Go until jurong point, crazy.. Available only ...              0
1    ham                      Ok lar... Joking wif u oni...              0
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...              1
3    ham  U dun say so early hor... U c already then say...              0
4    ham  Nah I don't think he goes to usf, he lives aro...              0

In [18]:
#import csv
mydata = new_sms_data.to_csv("sms_spam.csv")

## To check what we are getting wrong

In [96]:
new_sms_data["predictions"] = model_for_sms.predict(x)

# Things that should be spam
sneaky_spam = new_sms_data[(new_sms_data['predictions'] == 0 )& (new_sms_data['binary_labels'] == 1)]['data']
# for msg in sneaky_spam:
#     print (msg)

In [95]:

# Things that should not be spam

not_actually_spam = new_sms_data[(new_sms_data['predictions'] == 1 )& (new_sms_data['binary_labels'] == 0)]['data']
# for msg in not_actually_spam:
#     print (msg)

----

## Visulization

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
def visualize(label):
    words = ""
    for msg in new_sms_data[new_sms_data["labels"] == label]['data']:
        msg = msg.lower()
        words += msg + ""
        wordcloud = WordCloud(width=600, height=400).generate(words)
        plt.imshow(wordcloud)
        plt.axis('off')
        plt.show()
        
        
visualize("ham")
#visualize("spam")

In [ ]:
visualize("ham")

In [92]:
a = 1
new_sms_data['a'] = a

In [93]:
new_sms_data.head()

,labels,data,binary_labels,predictions,a
0,ham,"Go until jurong point, crazy.. Available only ...",0,0,1
1,ham,Ok lar... Joking wif u oni...,0,0,1
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,1,1,1
3,ham,U dun say so early hor... U c already then say...,0,0,1
4,ham,"Nah I don't think he goes to usf, he lives aro...",0,0,1